Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans:
    A database is a tool for collecting and organizing information
   
     SQL databases are primarily are Relational Databases (RDBMS)
       
        These databases have fixed or static or predefined schema
        Vertically Scalable
    
    NoSQL database are primarily are non-relational or distributed database
       They have dynamic schema
        Horizontally Scalable

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Data Manipulation Language (DML) commands in SQL deals with manipulation of data records stored within the database tables.
 
 The CREATE DATABASE command is used is to create a new SQL database or SQL Table. 
     
    DROP: It is used to delete both the structure and record stored in the table.
    
    ALTER: It is used to alter the structure of the database. This change could be either to modify 
           the characteristics of an existing attribute or probably to add a new attribute.
        
    TRUNCATE: It is used to delete all the rows from the table and free the space containing the table.

CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);

DROP TABLE Persons;

ALTER TABLE Persons
ADD Email varchar(255);

TRUNCATE TABLE Persons;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Data Manipulation Language- It is the SQL commands that deals with the manipulation of data present in the database.

INSERT : It is used to insert data into a table.
    
    INSERT INTO Customers (CustomerName, ContactName, Address, City, PostalCode, Country)
VALUES ('Cardinal', 'Bafana B. Zwyne', 'Skagen 21', 'Stavanger', '4006', 'South Africa');

UPDATE: It is used to update existing data within a table.
   
    UPDATE Customers
    SET ContactName='Juan'
    WHERE Country='South Africa';
    
DELETE : It is used to delete records from a database table.
    DELETE FROM Customers WHERE CustomerName='Cardinal';

Q4. What is DQL? Explain SELECT with an example.

Data Query Language - it is a component of SQL statement that allows getting data from the database and imposing order upon it
   
    SELECT CustomerName, City FROM Customers;

Q5. Explain Primary Key and Foreign Key.

Q5.Explain Primary Key and Foreign Key.

Ans: Primary Key uniquely identifies each record in a table    
     Foreign Key is a field in one table, that refers to the Primary Key in another table

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

mydb = mysql.connector.connect(
  
  host="localhost",
  user=" ",
  password=""
)

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

cursor() of the mysql-connector Python module is used to execute statements to communicate with the MySQL database

execute() -This method accepts a MySQL query as a parameter and executes the given query.

Q7. Give the order of execution of SQL clauses in an SQL query.

SELECT, FROM, WHERE, GROUP BY, HAVING, and ORDER BY