In [3]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [7]:
print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

The iloc() function is an indexed-based selecting method which means that we have to pass an integer index in the method to select a specific row/column.

The loc() function is label based data selecting method which means that we have to pass the name of the row or column which we want to select.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

Did you observe any difference in both the outputs? If so then explain it.

In [13]:
df.reindex([3,0,1,2])

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [14]:
new_df=df.reindex([3,0,1,2])

In [15]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [16]:
new_df.loc[2] # value at index label 2

course_name    Big Data
duration              6
Name: 2, dtype: object

In [17]:
new_df.iloc[2] # value at index location 2

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Yes there is a difference between the two.

new_df.loc[2] # value at index label 2

new_df.iloc[2] # value at index location 2

Consider the below code to answer further questions:

In [74]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [ ]:
Q4. Write a code to find the following statistical measurements for the above dataframe df1:
    
(i) mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2’

In [29]:
df_statistics=df1.describe()

In [32]:
df_statistics[['column_1', 'column_2','column_3','column_4','column_5','column_6']].iloc[[1]]

      column_1  column_2  column_3  column_4  column_5  column_6
mean  0.460596  0.345583  0.368657  0.688786  0.578161  0.488368

In [34]:
df_statistics.iloc[[2]]

     column_1  column_2  column_3  column_4  column_5  column_6
std  0.296234  0.291308  0.295788  0.242079  0.244413  0.384848

In [35]:
df_statistics[['column_2']].iloc[[2]]

     column_2
std  0.291308

In [57]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.417855  0.679203  0.214184  0.108034  0.150555  0.508140
2  0.987078  0.028958  0.707591  0.606932  0.934268  0.608584
3  0.547797  0.883935  0.237014  0.964787  0.399594  0.166169
4  0.059174  0.088084  0.755114  0.755293  0.818086  0.731834
5  0.714280  0.284314  0.525489  0.979700  0.450677  0.827237
6  0.650607  0.127564  0.491250  0.012016  0.469056  0.781219

In [68]:
df1.loc[(df1.column_2 == 0.883935), 'column_2'] = 0

print(df1)

   column_1   column_2  column_3  column_4  column_5  column_6
1  0.417855   0.679203  0.214184  0.108034  0.150555  0.508140
2  0.987078  0.0289576  0.707591  0.606932  0.934268  0.608584
3  0.547797   0.883935  0.237014  0.964787  0.399594  0.166169
4  0.059174  0.0880835  0.755114  0.755293  0.818086  0.731834
5  0.714280   0.284314  0.525489  0.979700  0.450677  0.827237
6  0.650607   0.127564  0.491250  0.012016  0.469056  0.781219

In [77]:
df1.loc[df1['column_2'] == '0.987078', 'column_2'] = '2'
print(df1)

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.873251  0.831285  0.848669  0.055036  0.523451  0.309837
2  0.241205  0.980904  0.919132  0.372983  0.440327  0.786030
3  0.655160  0.638702  0.297819  0.754597  0.180869  0.385816
4  0.993370  0.507354  0.235580  0.827478  0.942521  0.559686
5  0.924167  0.839225  0.991756  0.937837  0.327653  0.547798
6  0.437598  0.727648  0.784907  0.931801  0.539344  0.337857

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

Pandas Window functions are functions where the input values are taken from a “window” of one or more rows in a series or a table and calculation is performed over them.

Rolling window: Generic fixed or variable sliding window over the values.
    
Weighted window: Weighted, non-rectangular window supplied by the scipy.signal library.
    
Expanding window: Accumulating window over the values.

Q7.Write a code to print only the current month and year at the time

In [82]:
import datetime

# Create a dataframe with a date column
df3 = pd.DataFrame({'date': ['2023-03-27', '2023-03-28', '2023-03-29']})

# Convert the date column to datetime format
df3['date'] = pd.to_datetime(df3['date'])

# Extract the current month and year from the date column
df3['month'] = df3['date'].dt.month
df3['year'] = df3['date'].dt.year

# Print only the current month and year
print(df3['month'][0], df3['year'][0])

3 2023

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [92]:
from datetime import datetime

startdate_str = input("Start date e.g.(2017-10-10)")
enddate_str = input("End date e.g.(2017-10-11)")

startdate_dt = datetime.strptime(startdate_str,"%Y-%m-%d").date()
enddate_dt = datetime.strptime(enddate_str,"%Y-%m-%d").date()

numstudydays =enddate_dt - startdate_dt
print (numstudydays.days) # prints 1 for example inputs

Start date e.g.(2017-10-10)2023-02-05
End date e.g.(2017-10-11)2023-03-15
38

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [106]:
filepath = input('Enter filepath name: ')
df = pd.read_csv(filepath)

#print(df)(df)

Enter filepath name: C:\Users\Likhang\Desktop\PW Skills Data Science Master\sample_data\Categorical_Data.csv

In [107]:
df[['Col']].apply(lambda x: x.astype('category'))

  Col
0   a
1   b
2   c
3   a
4   b
5   b
6   c

In [112]:
df.sort_values(by="Col", axis=0,ascending=False)

  Col
6   c
2   c
5   b
4   b
1   b
3   a
0   a